<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642681024764-fh4834269s301ft7fkj7bkv8toitjdjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642681024764-fh4834269s301ft7fkj7bkv8toitjdjc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>642681024764-qh13o1bul4lu1r8vtqt9u0pe3sd3ackj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3_aabDBtZJ0AZYStp27dr3tKfQFEJ7gU</string>
	<key>GCM_SENDER_ID</key>
	<string>642681024764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.titanumtech.jeebjab</string>
	<key>PROJECT_ID</key>
	<string>jeebjab-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>jeebjab-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642681024764:ios:9e940630de12bf1a8ee779</string>
</dict>
</plist>